<form action="/add" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome"><br>

    <p>Data: </p>
    <input type="text" name="data"><br>

    <p>Hora: </p>
    <input type="text" name="data"><br>
    
    
    <button type="submit">Agendar Horário</button>
</form>